<%= render "layouts/navbar" %>
<br>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://cdn.liquor.com/wp-content/uploads/2015/03/hub_classic_cocktail_daiquiri.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<%= link_to "Add a cocktail", new_cocktail_path, class: 'btn btn-outline-secondary', role: 'button' %>
<!-- <button type="button" class="btn btn-outline-secondary">Secondary</button> -->

